* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--c2);
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

button {
  all: unset;
}
